@model PandaWebApp.ViewModels.Blog.Entry


<div class="full-width-content">	
    <div class="blog blog-detail">
        <ul class="messages">
            <li>
                <div class="header">
                    <div class="title left">@Model.Title</div>
                    <div class="date right">@Model.CreatedDate</div>
                    <div class="clear"></div>
                </div>
                
                <div class="description">
                    <img src="@ImageCreator.Create(Model.Image, 128, 128)" class="left image" />
                    <p>@Html.Raw(Model.FullText)</p>
                </div>
                
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    </div>


<a href="@Url.Action("Edit","Blog",new { id = Model.Id})">Редактировать</a>
<a href="@Url.Action("Delete","Blog",new { id = Model.Id})">Удалить</a>
   
 




