@model ICollection<PandaWebApp.ViewModels.Blog.Entry>
@{
    ViewBag.Title = "Мой блог";
}


<h2>Уютный блог Панды</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    

    foreach (var iter in Model)
    {
        <br/>


        <div>
            <div>
                
                <p>Создан: @iter.CreatedDate</p>
                <p>Редактирован: @iter.ModifyDate</p>

               
                <a href="./ViewPost?id=@iter.Id">
                    <div>@iter.Title</div>
                </a>

                <br/>
                    @iter.ShortText
                <br/>
                
                <br/>
                    <a class="button" href="./ViewPost?id=@iter.Id">Читать дальше</a>
                <br/>  
             

            </div>
        </div>
    }


   
    <p class="blog">
        Всего постов: @Model.Count 
    </p>
    
    //TODO: access only for admin
    <a href="./Create">Создать пост</a>
}
