@model PandaWebApp.ViewModels.Blog
@{
    var core = AuthorizationCore.StaticCreate();
    var isGuest = core.IsGuest;
    var user = core.User;
}   
<div class="blog">
    <div class="header">Уютный бложечек нашей компании <span class="count">(@Model.Count)</span></div>
    <ul class="messages">
        @foreach (var iter in Model.Posts)
        {
            <li>
                <div class="header">@iter.Title
                    <div class="date">@iter.CreatedDate</div>
                </div>
                <div class="left picture"><img src="@ImageCreator.Create(iter.Image, 128, 128)" /></div>
    
                <div class="right short-description">
                    <p>@Html.Raw(iter.ShortText)</p>
                </div>
                <div class="link">
                    <p class="right-aligned">
                        @if (!isGuest && user.IsAdmin)
                        {
                            <a href="@Url.Action("Edit", "Blog", new {id = iter.Id})">Редактировать</a>
                            <a href="@Url.Action("Delete", "Blog", new {id = iter.Id})">Удалить</a>
                        }
                        <a href="@Url.Action("Detail","Blog",new { id = iter.Id})">посмотреть всю статью</a>
                    </p>
                </div>
            </li>
            <div class="clear"></div>  
            
        }
    </ul>
    @if (!isGuest && user.IsAdmin)
    {
        @Html.ActionLink("Создать пост", "Create", "Blog")
    }
</div>