@model PandaWebApp.ViewModels.Blog.Entry
@{
    ViewBag.Title = @Model.Title;
}
<h2>Уютный блог Панды</h2>

@Html.ValidationSummary()

<div class="blog">
    <div class="blog-link">
        <p>Создан: @Model.CreatedDate</p>
        <p>Редактирован: @Model.ModifyDate</p>

               
        <a href="./ViewPost?id=@Model.Id">
            <div">@Model.Title</div>
        </a>
                

        <br/>
             
        @Model.FullText
                
    </div>
</div>


<a href="./Update?id=@Model.Id">Редактировать</a>
<a href="./Delete?id=@Model.Id">Удалить</a>
<a href="./Posts">Просмотреть все посты</a>







   


