@using PandaWebApp.Engine.Social
@model PandaWebApp.FormModels.PromouterRegister

<div id="promouter">
    @using (Ajax.BeginForm("Create", "Promouter", new AjaxOptions
        {
            UpdateTargetId = "promouter",
            HttpMethod = "POST",
            OnComplete = "onPromouterValidation"
        }))
{       <div class="i-empl">Я ищу работу.</div>
        
        <div class="error_text">
            <div>@Html.ValidationMessageFor(x => x.Email)</div>
            <div>@Html.ValidationMessageFor(x => x.Password)</div>
            <div>@Html.ValidationMessageFor(x => x.PasswordConfirmation)</div>
        </div>
        <div>
            <label class ="form_label">E-mail</label>
        </div>
        <div>
            @Html.TextBoxFor(x => x.Email, new Dictionary<string, object>() {{"class", "email_field"}})
        </div>
        
        <div>
            <label class ="form_label">Пароль</label>
        </div>
        <div>
            @Html.PasswordFor(x => x.Password, new Dictionary<string, object>() {{"class", "password_field"}})
        </div>
    
        <div>
            <label class ="form_label">Подтвердите пароль</label>
        </div>
        <div>
            @Html.PasswordFor(x => x.PasswordConfirmation, new Dictionary<string, object>() {{"class", "password_field"}})
        </div>
        <div class="clear"></div><br>
         <button type="submit" class="green_button">Зарегистрироваться</button>
         @Html.ActionLink("Я работодатель", "Create", "Employer")
        
        @Html.Partial("_SocialLogin")
        
    }
</div>
