@model PandaWebApp.FormModels.PromouterRegister

<div id="promouter">
@using (Ajax.BeginForm("Create", "Promouter", new AjaxOptions
    {
        UpdateTargetId = "promouter",
        HttpMethod = "POST",
        OnComplete = "onPromouterValidation"
    }))
{
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.PasswordConfirmation)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.PasswordConfirmation)
            @Html.ValidationMessageFor(x => x.PasswordConfirmation)
        </div>
    </div>

    <hr/>
    <div class="editor">
        <div class="editor-label">
        </div>
        <div class="editor-field">
            <button type="submit" class="center-aligned">Зарегистрироваться</button>
        </div>
    </div>
}
</div>