@model PandaWebApp.ViewModels.Promouter
@{
    ViewBag.Title = "Информация о промоутере";
}

<div class="user">
    <div class="header">
        <div class="left">
            <img src="~/Content/img/woman.png" />
            <span class="user-name">@string.Format("{0} {1}",Model.FirstName,Model.LastName)</span>
            <span class="user-number">#@Model.Number</span>
        </div>
        <div class="right user-status">
            <img src="@(Model.Status == "Онлайн" ? "/Content/img/online.png" : "/Content/img/offline.png")" />
            <span>@Model.Status</span>
        </div>
        <div class="clear"></div>
    </div>
					
    <div class="photo left">
        <img src="@ImageCreator.Create(Model.Photo, 128, 128)" />
        @if (Model.ReadyForWork)
        {<span class="ready-to-work">ГОТОВ РАБОТАТЬ СЕЙЧАС</span>
            }
    </div>
    <div class="info right">
        <div class="table-2">
            <div class="column">
                <div class="row on-site">На сайте <span class="days">@Model.DaysOnSite</span></div>
                <div class="row">Дата рождения</div>
                <div class="row">Количество полных лет</div>
                <div class="row"><div class="icon left"><img src="~/Content/img/medical-book.png" /></div>Мед. Книжка</div>
                <div class="row"><div class="icon left"><img src="~/Content/img/car.png" /></div>Автомобиль</div>
                <div class="row gap"></div>
                <div class="row"><div class="icon left"><img src="~/Content/img/phone.png" /></div>Мобильный телефон</div>
                <div class="row"><div class="icon left"><img src="~/Content/img/mail.png" /></div>e-mail</div>
                <div class="row">Желаемая цена за час работы</div>
                <div class="row">Город</div>
                <div class="row">Образование</div>
               
                 <div class="row">Количество монеток: @Model.Coins</div>
                
            </div>
            <div class="column">
                @if (Model.AccountConfirmed)
                {
                    <div class="row confirmed-true"><p class="right-aligned">Аккаунт подтвержден</p></div>
                }
                else
                {
                    <div class="row confirmed-false"><p class="right-aligned">Аккаунт не подтвержден</p></div>
                }

                    
                <div class="row">@Model.BirthDateString</div>
                <div class="row">@Model.FullYears</div>
                @if (@Model.MedicalBook)
                {
                    <div class="row">есть</div>
                }
                else
                {
                    <div class="row">нет</div>
                }

                @if (Model.Car)
                {
                    <div class="row">есть</div>
                }
                else
                {
                    <div class="row">нет</div>
                }
                    
                <div class="row gap"></div>
                <div class="row"><a href="#" class="open">открыть</a></div>
                <div class="row"><a href="#" class="open">открыть</a></div>
                <div class="row">@Model.Salary</div>
                <div class="row">@Model.City</div>
                <div class="row">@Model.Education</div>
                
                <div class="row"><a href="@Url.Action("EditCoins", "Promouter", new {userId = Model.UserId})" >редактировать</a></div>
                <div class="row">@Html.ActionLink("редактировать страницу", "Edit", "Promouter", new {id = Model.UserId}, new {})</div>
                
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="photo-album clear">
        <div class="header">Фото альбом портфолио</div>
        <div class="album">
            <ul class="horiz">
                @{
                    var index = 0;
                    int topCount = 10;
                    foreach (var item in Model.Album)
                    {
                        if (topCount.Equals(0))
                        {
                            break;
                        }
                        <li class="@(index == 0 ? "first" : "")">
                            <img src="@ImageCreator.Create(item, 128, 128)" />
                        </li>

                        if (index == 4)
                        {
                            index = 0;
                        }
                        else
                        {
                            index++;

                        }

                        topCount--;
                    }
                }
            </ul>
        </div>
        <div class="clear"></div>
        <div class="more"><p>@Html.ActionLink("Больше фотографий","Album","Album",new {userId = Model.UserId},null)</p></div>
    </div>
						
    <div class="full-info">

        <!-- parameters -->
        <div class="table-2">

            <div class="column">
                <div class="row header">Внешние данные</div>
                <div class="row">

                    <div class="table-2 inner-table">
											
                        <div class="column">
                            <div class="row">Рост</div>
                            <div class="row">Телосложение</div>
                            <div class="row">Вес</div>
                            <div class="row">Тип кожи</div>
                            <div class="row">Цвет глаз</div>
                            <div class="row">Цвет волос</div>
                            <div class="row">Длина волос</div>
                        </div>

                        <div class="column">
                            <div class="row">@Model.Height см.</div>
                            <div class="row">@Model.Build</div>
                            <div class="row">@Model.Weight кг.</div>
                            <div class="row">@Model.SkinType</div>
                            <div class="row">@Model.EyeColor</div>
                            <div class="row">@Model.HairColor</div>
                            <div class="row">@Model.HairLength</div>
                        </div>

                        <div class="clear"></div>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="row header">Параметры и размеры</div>
                <div class="row">
                    <div class="table-2 inner-table">
                        <div class="column">
                            <div class="row">Размер одежды</div>
                            <div class="row">Размер обуви</div>
                            <div class="row">Размер груди</div>
                        </div>

                        <div class="column">
                            <div class="row">@Model.SizeClothes (М)</div>
                            <div class="row">@Model.SizeShoes</div>
                            <div class="row">@Model.SizeChest</div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

        </div>
							
        <!-- intresting job -->
        <div class="header">Интересующая работа</div>
        <div class="table-2 intresting-work">
            <div class="column">
                <ul class="list-style">
                    @foreach (var item in Model.DesiredWork1)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
            <div class="column">
                <ul class="list-style">
                    @foreach (var item in Model.DesiredWork2)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="work-time">
        <div class="header">Желаемое время работы</div>
        <div class="table-7">
            @{
                var days = new[]
                    {
                        "Понедельник",
                        "Вторник",
                        "Среда",
                        "Четверг",
                        "Пятница",
                        "Суббота",
                        "Воскресенье"
                    };

                for (int i = 0; i < 7; i++)
                {
                    <div class=" @(i % 2 == 0 ? "column even" : "column odd")">
                        <div class="row header"><p class="center-aligned">@days[i]</p></div>
                        @foreach (var iter in Model.DesiredWorkTime)
                        {
                            if (iter.Day.Equals(days[i]))
                            {
                                foreach (var time in iter.Time)
                                {
                                    <div class="row"><p class="center-aligned">@time</p></div>
                                }
                            }
                        }
                    </div>
                }
            }
            <div class="clear"></div>
        </div>
    </div>

    <div class="intresting-things">
        <div class="header">Интересы:</div>
        <div class="things">
            @if (string.IsNullOrEmpty(@Model.Hobbies))
            {
                <p class="nothing">Пользователь еще не заполнил свои интересы, вы можете <a href="#">попросить его</a> заполнить свои интересы</p>
            }
            else
            {
                <p class="nothing">@Html.Raw(@Model.Hobbies)</p>
            }
        </div>
    </div>

    <div class="about">
        <div class="header">О себе:</div>
        <div class="things">
            @if (string.IsNullOrEmpty(@Model.About))
            {
                <p class="nothing">Пользователь еще не написал о себе, вы можете <a href="#">попросить его</a> рассказать о себе подробнее</p>
            }
            else
            {
                <p class="nothing">@Html.Raw(@Model.About)</p>
            }
        </div>
    </div>

    <div class="work-exp">
        <div class="header">Опыт работы</div>
        <div class="exp">
            <div class="table-2">
                @{
                    <div class="column">
                        @foreach (var experience in Model.WorkExperience1)
                        {
                            <div class="row">
                                <p>Место работы @experience.Title</p>
                                <p>Кем работал @experience.WorkName</p>
                                <p>Время работы @experience.Hours</p>
                            </div>
                        }
                    </div>

                    <div class="column">
                        @foreach (var experience in Model.WorkExperience2)
                        {
                            <div class="row">
                                <p>Место работы @experience.Title</p>
                                <p>Кем работал @experience.WorkName</p>
                                <p>Время работы @experience.Hours</p>
                            </div>
                        }
                    </div>

                    <div class="clear"></div>
                }
            </div>
        </div>
    </div>
    <div class="simple-delimiter"></div>
    @{ Html.RenderAction("TopUserFeedback", "Feedback", new { userId = Model.UserId }); }
    
    
    <a href="@Url.Action("Create", "Feedback", new {authorId = Model.UserId, recieverId = Model.UserId,})">Добавить отзыв</a>
    
    <div class="promouter-top">
        <div class="header">
            Еще промоутеры
        </div>
        @{ Html.RenderAction("TopPromouters", "Promouter", new { count = 6 }); }
    </div>
</div>



				