@using PandaDataAccessLayer.DAL
@using PandaWebApp.ViewModels
@model Tuple<Promouter, List<string>>
@{
    ViewBag.Title = "Информация о промоутере";
    var core = AuthorizationCore.StaticCreate();
    var isGuest = core.IsGuest;
    var user = core.User;
    var isAdmin = core.User.IsAdmin;
    const int WorkExperienceLength = 24;
}   


<a href="javascript:addToFavorite('@Model.Item1.UserId')">Добавить в избранное</a>			
<div class="user">
    <div class="header">
        <div class="left">
            <img src="~/Content/img/woman.png" />
            <span class="user-name">@string.Format("{0} {1}",Model.Item1.FirstName,Model.Item1.LastName)</span>
            <span class="user-number">#@Model.Item1.Number</span>
        </div>
        <div class="right user-status">
            <img src="@(Model.Item1.Status == "Онлайн" ? "/Content/img/online.png" : "/Content/img/offline.png")" />
            <span>@Model.Item1.Status</span>
        </div>
        <div class="clear"></div>
    </div>
	
    <div class="photo left">     
        <a href="@ImageCreator.Create(Model.Item1.Photo, 350 ,350)" data-lightbox="one_photo"><img src="@ImageCreator.Create(Model.Item1.Photo, 128, 128)"/></a>

        @if (Model.Item1.ReadyForWork)
        {
            <span class="ready-to-work">ГОТОВ РАБОТАТЬ СЕЙЧАС</span>
        }
    </div>
    <div class="info right">
        <div class="table-2">
            <div class="column">
                <div class="row on-site">На сайте <span class="days">@Model.Item1.DaysOnSite</span></div>
                <div class="row">Дата рождения</div>
                <div class="row">Количество полных лет</div>
                <div class="row"><div class="icon left"><img src="~/Content/img/medical-book.png" /></div>Мед. Книжка</div>
                <div class="row"><div class="icon left"><img src="~/Content/img/car.png" /></div>Автомобиль</div>
                <div class="row gap"></div>
                <div class="row"><div class="icon left"><img src="~/Content/img/phone.png" /></div>Мобильный телефон</div>
                <div class="row"><div class="icon left"><img src="~/Content/img/mail.png" /></div>e-mail</div>
                <div class="row">Желаемая цена за час работы</div>
                <div class="row">Город</div>
                <div class="row">Образование</div>
                @if ((!isGuest && user.Id == Model.Item1.UserId) || isAdmin)
                {
                    <div class="row">Количество монеток: @user.Coins</div>
                }
               
            </div>
            <div class="column">
                @if (Model.Item1.AccountConfirmed)
                {
                    <div class="row confirmed-true"><p class="right-aligned">Аккаунт подтвержден</p></div>
                }
                else
                {
                    <div class="row confirmed-false"><p class="right-aligned">Аккаунт не подтвержден</p></div>
                }
                <div class="row">@Model.Item1.BirthDateString</div>
                <div class="row">@Model.Item1.FullYears</div>
                @{
                    string isExist = Model.Item1.MedicalBook ? "есть" : "нет";
                    <div class="row">@isExist</div>
                    if (!string.IsNullOrEmpty(Model.Item1.Car))
                    {
                        <div class="row">@Model.Item1.Car</div>
                    }
                    else
                    {
                        <div class="row">Нет</div>
                    }
                }
               
               <div class="row gap"></div>
                
                @if (!isGuest || isAdmin)
                {
                    string fullphone = string.Format("{0} {1} {2}", Model.Item1.Phone.CountryCode, Model.Item1.Phone.Code, Model.Item1.Phone.Number);

                    if (Equals(user.Id, Model.Item1.UserId) || isAdmin)
                    {
                        <div class="row">@fullphone</div>
                        <div class="row">@Model.Item1.Email</div>
                    }
                    else
                    {
                        if (Model.Item2.Contains(Constants.MobilePhoneCode))
                        {
                            <div class="row">@fullphone</div>
                        }
                        else
                        {
                            <div class="row" id ="MOBILE_PHONE">

                                @Ajax.ActionLink("открыть", "ChangeCoins", "Admin",
                                                 new {buyerId = user.Id, userId = Model.Item1.UserId, attrCode = Constants.MobilePhoneCode, value = fullphone},
                                                 new AjaxOptions()
                                                     {
                                                         HttpMethod = "POST",
                                                         UpdateTargetId = Constants.MobilePhoneCode
                                                     }, new {@class = "open"})
                          
                            </div>
                        }

                        if (Model.Item2.Contains("EMAIL_CODE"))
                        {
                            <div class="row">@Model.Item1.Email</div>
                        }
                        else
                        {
                            <div class="row" id ="EMAIL_CODE">
                                @Ajax.ActionLink("открыть", "ChangeCoins", "Admin",
                                                 new {buyerId = user.Id, userId = Model.Item1.UserId, attrCode = Constants.EmailCode, value = Model.Item1.Email},
                                                 new AjaxOptions()
                                                     {
                                                         HttpMethod = "POST",
                                                         UpdateTargetId = Constants.EmailCode
                                                     }, new {@class = "open"})
                             
                            </div>
                        }
                    }

                }
                else
                {
                <div class="row"><a href="#" class="open">открыть</a></div>
                <div class="row"><a href="#" class="open">открыть</a></div>
                }
                
                <div class="row">@Model.Item1.Salary</div>
                <div class="row">@Model.Item1.City</div>
                <div class="row">@Model.Item1.Education</div>
                @if (!isGuest && Equals(user.Id, Model.Item1.UserId) || isAdmin)
                {
                    if (isAdmin)
                    {
                        <div class="row"><a href="@Url.Action("EditUserCoins", "Admin", new {userId = Model.Item1.UserId})" >редактировать</a></div>
                    }
                    <div class="row">@Html.ActionLink("редактировать страницу", "Edit", "Promouter", new {id = Model.Item1.UserId}, new {})</div>
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="photo-album clear">
        <div class="header">Фото альбом портфолио</div>
        <div class="album">
            <ul class="horiz">
                @{
                    var index = 0;
                    int topCount = 10;
                    foreach (var item in Model.Item1.Album)
                    {
                        if (topCount.Equals(0))
                        {
                            break;
                        }
                        <li class="@(index == 0 ? "first" : "")">
                            <a href="@ImageCreator.Create(item, 350 ,350)" data-lightbox="photo-promouter-set">
                                <img src="@ImageCreator.Create(item, 128, 128)"/>
                            </a>
                        </li>

                        if (index == 4)
                        {
                            index = 0;
                        }
                        else
                        {
                            index++;
                        }

                        topCount--;
                    }
                }
            </ul>
        </div>
        <div class="clear"></div>
        <div class="more"><p>@Html.ActionLink("Больше фотографий", "Album", "Album", new { userId = Model.Item1.UserId }, null)</p></div>
    </div>
						
    <div class="full-info">

        <!-- parameters -->
        <div class="table-2">

            <div class="column">
                <div class="row header">Внешние данные</div>
                <div class="row">

                    <div class="table-2 inner-table">
											
                        <div class="column">
                            <div class="row">Рост</div>
                            <div class="row">Телосложение</div>
                            <div class="row">Вес</div>
                            <div class="row">Тип кожи</div>
                            <div class="row">Цвет глаз</div>
                            <div class="row">Цвет волос</div>
                            <div class="row">Длина волос</div>
                        </div>

                        <div class="column">
                            <div class="row">@Model.Item1.Height см.</div>
                            <div class="row">@Model.Item1.Build</div>
                            <div class="row">@Model.Item1.Weight кг.</div>
                            <div class="row">@Model.Item1.SkinType</div>
                            <div class="row">@Model.Item1.EyeColor</div>
                            <div class="row">@Model.Item1.HairColor</div>
                            <div class="row">@Model.Item1.HairLength</div>
                        </div>

                        <div class="clear"></div>

                    </div>
                </div>
            </div>

            <div class="column">
                <div class="row header">Параметры и размеры</div>
                <div class="row">
                    <div class="table-2 inner-table">
                        <div class="column">
                            <div class="row">Размер одежды</div>
                            <div class="row">Размер обуви</div>
                            <div class="row">Размер груди</div>
                        </div>

                        <div class="column">
                            <div class="row">@Model.Item1.SizeClothes (М)</div>
                            <div class="row">@Model.Item1.SizeShoes</div>
                            <div class="row">@Model.Item1.SizeChest</div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>

        </div>
							
        <!-- intresting job -->
        <div class="header">Интересующая работа</div>
        <div class="table-2 intresting-work">
            <div class="column">
                <ul class="list-style">
                    @for (int i = 0; i < Model.Item1.DesiredWork.Count / 2 + Model.Item1.DesiredWork.Count % 2; i++)
                    {
                        <li>@Model.Item1.DesiredWork[i].Title</li>
                    }
                </ul>
            </div>
            <div class="column">
                <ul class="list-style">
                   @for (int i = Model.Item1.DesiredWork.Count / 2 + Model.Item1.DesiredWork.Count % 2; i < Model.Item1.DesiredWork.Count; i++)
                   {
                       <li>@Model.Item1.DesiredWork[i].Title</li>
                   }
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="work-time">
        <div class="header">Желаемое время работы</div>
        <div class="table-7">
            @{
                var days = new[]
                    {
                        "Понедельник",
                        "Вторник",
                        "Среда",
                        "Четверг",
                        "Пятница",
                        "Суббота",
                        "Воскресенье"
                    };

                for (int i = 0; i < 7; i++)
                {
                    <div class=" @(i % 2 == 0 ? "column even" : "column odd")">
                        <div class="row header"><p class="center-aligned">@days[i]</p></div>
                        @foreach (var iter in Model.Item1.DesiredWorkTime)
                        {
                            if (iter.Day.Equals(days[i]))
                            {
                                foreach (var time in iter.Time)
                                {
                                    <div class="row"><p class="center-aligned">@time</p></div>
                                }
                            }
                        }
                    </div>
                }
            }
            <div class="clear"></div>
        </div>
    </div>

    <div class="intresting-things">
        <div class="header">Интересы:</div>
        <div class="things">
            @if (string.IsNullOrEmpty(@Model.Item1.Hobbies))
            {
                <p class="nothing">Пользователь еще не заполнил свои интересы, вы можете <a href="#">попросить его</a> заполнить свои интересы</p>
            }
            else
            {
                <p class="nothing">@Html.Raw(@Model.Item1.Hobbies)</p>
            }
        </div>
    </div>

    <div class="about">
        <div class="header">О себе:</div>
        <div class="things">
            @if (string.IsNullOrEmpty(@Model.Item1.About))
            {
                <p class="nothing">Пользователь еще не написал о себе, вы можете <a href="#">попросить его</a> рассказать о себе подробнее</p>
            }
            else
            {
                <p class="nothing">@Html.Raw(@Model.Item1.About)</p>
            }
        </div>
    </div>
    <div class="work-exp">
        <div class="header">Опыт работы</div>
        <div class="exp">
            <div class="table-2">
                <div class="column">
                    @{ var list = Model.Item1.WorkExperience.ToList(); }

                    @for (int i = 0; i < (list.Count / 2 + list.Count % 2); i++)
                    {
                        <div class="row">
                            <p>Место работы @list[i].Title.Shorten(WorkExperienceLength)</p>
                            <p>Кем работал @list[i].WorkName.Shorten(WorkExperienceLength)</p>
                            <p>Время работы @list[i].Hours.ToPandaString().Shorten(WorkExperienceLength)</p>
                        </div>
                    }
                </div>
                <div class="column">

                    @for (int i = list.Count / 2; i < list.Count; i++)
                    {
                        <div class="row">
                            <p>Место работы @list[i].Title.Shorten(WorkExperienceLength)</p>
                            <p>Кем работал @list[i].WorkName.Shorten(WorkExperienceLength)</p>
                            <p>Время работы @list[i].Hours.ToPandaString().Shorten(WorkExperienceLength)</p>
                        </div>
                    }

                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="simple-delimiter"></div>
    @{ Html.RenderAction("TopUserFeedback", "Feedback", new { userId = Model.Item1.UserId }); }
    
    
    @{        
        if (!isGuest && user.Id != Model.Item1.UserId)
        {
            Html.RenderAction("Create", "Feedback", new { authorId = user.Id, recieverId = Model.Item1.UserId });
        }
    }

    <div class="promouter-top">
        <div class="header">
            Еще промоутеры
        </div>
        @{ Html.RenderAction("TopPromouters", "Promouter", new { count = 6 }); }
    </div>
</div>



				