@using PandaDataAccessLayer.DAL
@model PandaWebApp.FormModels.PromouterForm
@{
    ViewBag.Title = "Редактирование карточки пользователя";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{ 
    @Html.HiddenFor(x => x.UserId)
    <script>
        $(function () {
            $('#editPromouterTabs').tabs();
        });
    </script> 

    <div id="editPromouterTabs">
        <ul>
            <li><a href="#mainTab">Основное</a></li>
            <li><a href="#photoTab">Фото</a></li>
            <li><a href="#attribTab">Внешние данные</a></li>
            <li><a href="#desiredWorkTab">Интересующая работа</a></li>
            <li><a href="#desiredWorkTimeTab">Желаемое время работы</a></li>
            <li><a href="#hobbiesTab">Интересы</a></li>
            <li><a href="#aboutTab">О себе</a></li>
            <li><a href="#workExpirienceTab">Опыт работы</a></li>
        </ul>
        <div id="mainTab">
            <div>Дата рождения</div> @Html.EditorFor(m => m.BirthDate)
            <div>Мед книжка</div> @Html.EditorFor(m => m.MedicalBook)
            <div>Автомобиль</div> @Html.EditorFor(m => m.Car)
            <div>Мобильный телефон</div> @Html.EditorFor(m => m.MobilePhone)
            <div>Email</div> @Html.EditorFor(m => m.Email)
            <div>Желаемая цена за час работы</div>@Html.DropDownListFor(x => x.Salary, Model.SalaryValues)
            <div>Образование</div> @Html.DropDownListFor(x => x.Education, Model.EducationValues)
        </div>
        <div id="photoTab">
            @Html.
        </div>
        <div id="attribTab">
            <h3>Внешние данные</h3>
            <div>Рост</div> @Html.EditorFor(m => m.Height)
            <div>Телосложение</div> @Html.EditorFor(m => m.Build)
            <div>Вес</div> @Html.EditorFor(m => m.Weight)
            <div>Тип кожи</div> @Html.EditorFor(m => m.SkinType)
            <div>Цвет глаз</div> @Html.EditorFor(m => m.EyeColor)
            <div>Цвет волос</div> @Html.EditorFor(m => m.HairColor)
            <div>Длина волос</div> @Html.EditorFor(m => m.HairLength)

            <h3>Параметры и размеры</h3>
            <div>Размер одежды</div> @Html.EditorFor(m => m.SizeClothes)
            <div>Размер обуви</div> @Html.EditorFor(m => m.SizeShoes)
            <div>Размер груди</div> @Html.EditorFor(m => m.SizeChest)
        </div>
        <div id="desiredWorkTab">
            @for (int i = 0; i < Model.DesiredWork.Count; i++)
            {
                @Html.HiddenFor(m => m.DesiredWork[i].Code)
                @Html.HiddenFor(m => m.DesiredWork[i].Title)
                @Html.EditorFor(m => m.DesiredWork[i].Value)
                @Html.LabelFor(m => m.DesiredWork[i].Value, Model.DesiredWork[i].Title)
                <br/>
            }   
        </div>
        <div id="desiredWorkTimeTab">
           <div>@{ Html.RenderAction("Index", "DesiredWorkTime", new { userId = Model.UserId }); }</div>
        </div>
        <div id="hobbiesTab">
            <div>Интересы</div> @Html.TextAreaFor(m => m.Hobbies)
        </div>
        <div id="aboutTab">
            <div>О себе</div> 
            @Html.TextAreaFor(m => m.About, new Dictionary<string, object>()
        {
            {"class", "ckeditor"}, {"name", "editor1"}
        })
            

        </div>
        <div id="workExpirienceTab">
           <div>@{ Html.RenderAction("Index", "WorkExperience", new { userId = Model.UserId }); }</div>
        </div>
    
    </div>
   
    <input id="submit" name="submit" type="submit" value="Сохранить" />
}