@using PandaDataAccessLayer.DAL
@model PandaWebApp.FormModels.PromouterForm
@{
    ViewBag.Title = "Редактирование информации о пользователе";
    Layout = "~/Views/Shared/Layout.cshtml";
    var cityValues = (IEnumerable<SelectListItem>)ViewBag.CityValues;
    var genderValues = (IEnumerable<SelectListItem>)ViewBag.GenderValues;
    var salaryValues = (IEnumerable<SelectListItem>)ViewBag.SalaryValues;
    var educationValues = (IEnumerable<SelectListItem>)ViewBag.EducationValues;
}

<h2>Редактирование информации о пользователе</h2>
@using (Html.BeginForm("Edit", "Promouter", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    @Html.HiddenFor(x => x.UserId)
    <script>
        $(function () {
            $('#editPromouterTabs').tabs();
            $('#uploadPhotoButton').click(function () {
                var count = $(this).data('-file-uploader-count') + 1;
                $(this).data('-file-uploader-count', count);
                $('#fileUploaders').append($('<input>')
                    .attr('id', count)
                    .attr('name', 'photos')
                    .attr('type', 'file'));
            });
        });
    </script> 

    <div id="editPromouterTabs">
        <ul>
            <li><a href="#mainTab">Основное</a></li>
            <li><a href="#photoTab">Фото</a></li>
            <li><a href="#attribTab">Внешние данные</a></li>
            <li><a href="#desiredWorkTab">Интересующая работа</a></li>
            <li><a href="#desiredWorkTimeTab">Желаемое время работы</a></li>
            <li><a href="#hobbiesTab">Интересы</a></li>
            <li><a href="#aboutTab">О себе</a></li>
            <li><a href="#workExpirienceTab">Опыт работы</a></li>
        </ul>
        <div id="mainTab">
            
            <div>Имя</div> @Html.EditorFor(m => m.FirstName)
            <div>Фамилия</div> @Html.EditorFor(m => m.LastName)
            <div>Отчество</div> @Html.EditorFor(m => m.MiddleName)
            <div>Пол</div> @Html.DropDownListFor(m => m.Gender,  genderValues, string.Empty)
            <div>Дата рождения</div> @Html.EditorFor(x => x.BirthDate, "Date")
            <div>Мед книжка</div> @Html.EditorFor(m => m.MedicalBook)
            <div>Автомобиль</div> @Html.EditorFor(m => m.Car)
            <div>Мобильный телефон</div> @Html.EditorFor(m => m.Phone, "Phone")
            <div>Email</div> @Html.EditorFor(m => m.Email)
            <div>Желаемая цена за час работы</div>@Html.DropDownListFor(x => x.Salary, salaryValues, string.Empty)
            <div>Образование</div> @Html.DropDownListFor(x => x.Education, educationValues, string.Empty)
            <div>Готов работать сейчас</div> @Html.EditorFor(m => m.ReadyForWork)
            <div>Администратор</div> @Html.CheckBoxFor(m => m.IsAdmin)
        </div>
        <div id="photoTab">
            <div>@{ Html.RenderAction("Index", "Album", new { userId = Model.UserId }); }</div>
            <div>
                <div id="fileUploaders"></div>
                <button type="button" id="uploadPhotoButton"  data-file-uploader-count="0">Добавить фото</button>
            </div>
        </div>
        <div id="attribTab">
            <h3>Внешние данные</h3>
            <div>Рост</div> @Html.EditorFor(m => m.Height)
            <div>Телосложение</div> @Html.EditorFor(m => m.Build)
            <div>Вес</div> @Html.EditorFor(m => m.Weight)
            <div>Тип кожи</div> @Html.EditorFor(m => m.SkinType)
            <div>Цвет глаз</div> @Html.EditorFor(m => m.EyeColor)
            <div>Цвет волос</div> @Html.EditorFor(m => m.HairColor)
            <div>Длина волос</div> @Html.EditorFor(m => m.HairLength)

            <h3>Параметры и размеры</h3>
            <div>Размер одежды</div> @Html.EditorFor(m => m.SizeClothes)
            <div>Размер обуви</div> @Html.EditorFor(m => m.SizeShoes)
            <div>Размер груди</div> @Html.EditorFor(m => m.SizeChest)
        </div>
        <div id="desiredWorkTab">
            @for (int i = 0; i < Model.DesiredWork.Count; i++)
            {
                @Html.HiddenFor(m => m.DesiredWork[i].Code)
                @Html.HiddenFor(m => m.DesiredWork[i].Title)
                @Html.EditorFor(m => m.DesiredWork[i].Value)
                @Html.LabelFor(m => m.DesiredWork[i].Value, Model.DesiredWork[i].Title)
                <br/>
            }   
        </div>
        <div id="desiredWorkTimeTab">
           <div>@{ Html.RenderAction("Index", "DesiredWorkTime", new { userId = Model.UserId }); }</div>
        </div>
        <div id="hobbiesTab">
            <div>Интересы</div> 
            @Html.EditorFor(m => m.Hobbies, "Wysiwyg")
        </div>
        <div id="aboutTab">
            <div>О себе</div> 
            @Html.EditorFor(m => m.About, "Wysiwyg")
        </div>
        <div id="workExpirienceTab">
           <div>@{ Html.RenderAction("Index", "WorkExperience", new { userId = Model.UserId }); }</div>
        </div>
    
    </div>
   
    <input id="submit" name="submit" type="submit" value="Сохранить" />
}