@model IEnumerable<PandaWebApp.ViewModels.PromouterSearchView>

@{ var vdd = new ViewDataDictionary {{"Pager", ViewBag.Pager}}; }
@{ Html.RenderPartial("_PagerForm", vdd); }
@{ Html.RenderPartial("_PagerTop", vdd); }
<div id ="promouterSearchResult">
    <br />
    <h2>Результаты поиска:</h2>
    @foreach (var item in Model)
    { 
        <div>

            <div>Фамилия: @item.LastName </div>
            <div>Имя: @item.FirstName</div>
            <div>Отчество: @item.MiddleName</div>
            <div>Город: @item.City</div>
            <div>Оплата: @item.Salary рублей в час</div>
            @{

                <div>@Html.ActionLink("Посмотреть профиль", "Detail", "Promouter", new { id = item.Checklist.User.Id}, null)</div> 
            }
            
        </div>
        <hr />
    }
</div>
@{ Html.RenderPartial("_PagerBottom", vdd); }

<script type="text/javascript"> initPager($('body')); </script>
