@using PandaWebApp.Engine.Social
<div class="social">
    <a href="@OAuth.Vk.AuthLink()">VK</a>
    <a href="@OAuth.MailRu.AuthLink()">MailRu</a>
    <a href="@OAuth.Yandex.AuthLink()">Yandex</a>
    <a href="@OAuth.FB.AuthLink()">Facebook</a>
    <a href="@OAuth.Google.AuthLink()">Google</a>
</div>