
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" value="@ViewBag.Keywords" />
        <meta name="description" value="@ViewBag.Description" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/frameworks/jquery/south-street/jquery-ui-1.10.3.custom.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
        <!-- include scripts there -->
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery-1.9.1.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery-ui-1.10.3.custom.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery.unobtrusive-ajax.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/custom/inplace-editor.js")"></script>
    </head>

	
	<body>
	
		<div id="top" class="top-panel layer zero"></div>
		
		<div class="body layer one">
			<div class="header">
				<div class="top-links content-width">
					<a href="#" class="first left middle">Выберите город</a>
					<a href="#" class="second right middle-img"><img src="~/Content/img/enter-button.png" /></a>
					<a href="@Url.Action("Create","Promouter")" class="third right middle">Зарегистрироваться на сайте</a>
					
					<div class="clear"></div>
				</div>
				
				<div class="content-width">
					<div class="logo left"><img src="~/Content/img/logo.png" /></div>
					<div class="right">
						<div class="banner-top"></div>
						<ul class="main-menu horiz">
							<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "About"})">О проекте</a></li>
							<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "Dictionary"})">Словарь</a></li>
							<li><a href="@Url.Action("Posts","Blog")">Блог</a></li>
							<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "FAQ"})">Вопрос-Ответ</a></li>
							<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "Contacts"})">Контакты</a></li>
							<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "PaidServices"})">Платные услуги</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>

				<div id="shadow" class="top-shadow layer zero"></div>
			</div>

			<div class="content content-width">
				<div class="base-content left">
				        @RenderBody()
				</div>
				<div class="right-sidebar right">
					 @{ Html.RenderAction("PandaPulse", "Home"); }
				    
				    @{
                        if (ViewBag.Title!=null && !ViewBag.Title.Equals("Главная"))
                        {
                            <div class="banner-side empty"></div>
					        <div class="banner-side empty"></div>
					        <div class="banner-side empty"></div>
					        <div class="banner-side empty"></div>
					        <div class="banner-side empty"></div>
                        }
				    }
                    
				</div>
				<div class="clear"></div>
			</div>
		</div>
        
        
            @if (ViewBag.Title!=null && ViewBag.Title.Equals("Главная"))
            {
                <div class="full-width-content content-width">
                    <div class="five-reasons">
                        <div class="simple-delimiter"></div>
                        <div class="simple-bg"></div>
                        <div class="reasons left">
                            <h1>5 причин, по которым стоит заказать услуги у нас</h1>
                            <ul>
                                <li>Только проверенные участники проходят отбор</li>
                                <li>Вы сами выбираете исполнителя</li>
                                <li>0% комиссии для заказчиков</li>
                                <li>Оперативный подход</li>
                                <li>Простой и понятный интерфейс</li>
                            </ul>
                        </div>

                        <div class="reasons-image right"><img src="~/Content/img/five-resons.png" /></div>

                        <div class="clear"></div>
                    </div>

                    <div class="all-feedbacks">
                        <div class="header">Отзывы <span class="count">(#COUNT#)</span></div>
                        <div class="feedbacks-content">
                            <ul class="horiz">
                                <li>
                                    <div class="left icon-container">
                                        <div class="icon"><img src="~/Content/img/del-2-0.png" /></div>
                                        <div class="name">
                                            <p>Фамилия</p>
                                            <p>Имя</p>
                                            <p>Отчество</p>
                                        </div>
                                    </div>
                                    <div class="right enhanced-feedback-body">
                                        <div class="mark"></div>
                                        <p>
                                            текст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст тексттексттекст текст 
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div class="icon"><img src="~/Content/img/del-2-0.png" /></div>
                                        <div class="name">
                                            <p>Фамилия</p>
                                            <p>Имя</p>
                                            <p>Отчество</p>
                                        </div>
                                    </div>
                                    <div class="right enhanced-feedback-body">
                                        <div class="mark"></div>
                                        <p>
                                            текст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст тексттексттекст текст 
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                                <li class="last">
                                    <div class="left">
                                        <div class="icon"><img src="~/Content/img/del-2-0.png" /></div>
                                        <div class="name">
                                            <p>Фамилия</p>
                                            <p>Имя</p>
                                            <p>Отчество</p>
                                        </div>
                                    </div>
                                    <div class="right enhanced-feedback-body">
                                        <div class="mark"></div>
                                        <p>
                                            текст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст текст тексттекст текст тексттексттекст текст 
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                        <div class="link"><p class="right-aligned"><a href="#">посмотреть все отзывы</a></p></div>
                    </div>
                    
                    <div class="simple-delimiter"></div>

                    @{ Html.RenderAction("Posts", "Blog"); }
                </div>
            }
		
	   
	    <div class="simple-delimiter"></div>

		<div class="footer content-width">
			<ul class="main-menu horiz">
				<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "About"})">О проекте</a></li>
				<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "Dictionary"})">Словарь</a></li>
				<li><a href="@Url.Action("Posts","Blog")">Блог</a></li>
				<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "FAQ"})">Вопрос-Ответ</a></li>
				<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "Contacts"})">Контакты</a></li>
				<li><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "PaidServices"})">Платные услуги</a></li>
			</ul>
			<div class="clear"></div>

			<div class="links">
				<div class="table-4">
					<div class="column">
						<div class="row"><a href="@Url.Action("IndexStaticPage","StaticPage",new { code = "About"})">О проекте</a></div>
						<div class="row"><a href="#">Реклама на сайте</a></div>
						<div class="row"><a href="#">Условия пользования сайтом</a></div>
					</div>
					<div class="column">
						<div class="row"><a href="#">Работодателям</a></div>
						<div class="row"><a href="#">Правила сайта</a></div>
						<div class="row"><a href="#">Платные услуги</a></div>
					</div>
					<div class="column">
						<div class="row"><a href="#">Соискателям</a></div>
						<div class="row"><a href="#">Советы новичкам</a></div>
						<div class="row"><a href="#">Полезные статьи</a></div>
					</div>
					<div class="column">
						<div class="row"><a href="#">Помощь</a></div>
						<div class="row"><a href="#">Промо-словарь</a></div>
						<div class="row"><a href="#">Написать в службу поддержки</a></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div class="link"><p><a href="#">Сообщество ВКонтакте (с) #YEAR# - #YEAR + 1#</a></p></div>
			<div class="link"><p><a href="#">Контактная информация</a></p></div>
			<div class="logo">PromoPanda © 2013</div>
		</div>
	
	</body>
</html>