<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="keywords" value="@ViewBag.Keywords" />
        <meta name="description" value="@ViewBag.Description" />
        
        <link rel="stylesheet" href="@Url.Content("~/Content/css/frameworks/jquery/south-street/jquery-ui-1.10.3.custom.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/frameworks/jquery/south-street/jquery.ui.timepicker.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/frameworks/jquery/lightbox.css")"/>
        <!-- include scripts there -->
      @*<script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery-1.4.3.min.js")"></script>*@
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery-1.9.1.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery-ui-1.10.3.custom.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery.unobtrusive-ajax.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/jquery.ui.timepicker.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/custom/inplace-editor.js")"></script>
        <script type="text/javascript" src="~/Content/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="@Url.Content("~/Content/js/frameworks/jquery/lightbox-2.6.min.js")"></script>
        <script>
            function initializeDateTime() {
                $(".datePicker").datepicker({ dateFormat: "dd.mm.yy" });
                $(".timePicker").timepicker();
            }

            $(function() {
                
                $('#registerForm').dialog({
                    autoOpen: false,
                    width: 'auto',
                    height: 'auto',
                    resizable: false,
                    modal: true,
                    position: { my: 'top', at: 'top', of: window}
                });
               
                $("#registerButton").click(function (e) {
                      e.preventDefault();
                      $("#registerForm").dialog("open");
                      $("#registerForm").tabs({ active: 1 });
                });
                
                $("#loginButton").click(function (e) {
                    e.preventDefault();
                    $("#registerForm").dialog("open");
                    $("#registerForm").tabs({active : 0});
                });
               
            });
        </script>
    </head>
    <body>
        <div id="top" class="top-panel layer zero"></div>
        <div class="body layer one">
            <div class="header">
                @Html.Partial("_AuthPanel")
                <div class="content-width">
                    <div class="logo left"><a href="@Url.Action("Index","Home")"><img src="~/Content/img/logo.png" /></a></div>
                    <div class="right">
                        <div class="banner-top"></div>
                        <ul class="main-menu horiz">
                            <li><a href="@Url.Action("About","StaticPage")">О проекте</a></li>
                            <li><a href="@Url.Action("Dictionary","StaticPage")">Словарь</a></li>
                            <li><a href="@Url.Action("Posts","Blog")">Блог</a></li>
                            <li><a href="@Url.Action("FAQ","StaticPage")">Вопрос-Ответ</a></li>
                            <li><a href="@Url.Action("Contacts","StaticPage")">Контакты</a></li>
                            <li><a href="@Url.Action("PaidServices","StaticPage")">Платные услуги</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>

                <div id="shadow" class="top-shadow layer zero"></div>
            </div>

            <div class="content content-width">
                <div class="base-content left">
                    @RenderBody()
                </div>
                <div class="right-sidebar right">
                    @{ Html.RenderAction("PandaPulse", "Home"); }
				    
                    @{
                        if (ViewBag.Title!=null && !ViewBag.Title.Equals("Главная"))
                        {
                            <div class="banner-side empty"></div>
                            <div class="banner-side empty"></div>
                            <div class="banner-side empty"></div>
                            <div class="banner-side empty"></div>
                            <div class="banner-side empty"></div>
                        }
                    }
                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        
        @if (ViewBag.Title!=null && ViewBag.Title.Equals("Главная"))
        {
            <div class="full-width-content content-width">
             
                @{Html.RenderAction("Fivereasons", "StaticPage"); }

                @{Html.RenderAction("TopDialogFeedback","Feedback");}

                <div class="simple-delimiter"></div>

                @{ Html.RenderAction("TopPosts", "Blog"); }
            </div>
        }
		
	   
        <div class="simple-delimiter"></div>

        <div class="footer content-width">
            <ul class="main-menu horiz">
                <li><a href="@Url.Action("About","StaticPage")">О проекте</a></li>
                <li><a href="@Url.Action("Dictionary","StaticPage")">Словарь</a></li>
                <li><a href="@Url.Action("Posts","Blog")">Блог</a></li>
                <li><a href="@Url.Action("FAQ","StaticPage")">Вопрос-Ответ</a></li>
                <li><a href="@Url.Action("Contacts","StaticPage")">Контакты</a></li>
                <li><a href="@Url.Action("PaidServices","StaticPage")">Платные услуги</a></li>
            </ul>
            <div class="clear"></div>

            <div class="links">
                <div class="table-4">
                    <div class="column">
                        <div class="row"><a href="@Url.Action("About","StaticPage")">О проекте</a></div>
                        <div class="row"><a href="@Url.Action("Commercial","StaticPage")">Реклама на сайте</a></div>
                        <div class="row"><a href="@Url.Action("SiteTerms","StaticPage")">Условия пользования сайтом</a></div>
                    </div>
                    <div class="column">
                        <div class="row"><a href="@Url.Action("ToWorker","StaticPage")">Работодателям</a></div>
                        <div class="row"><a href="@Url.Action("Regulations","StaticPage")">Правила сайта</a></div>
                        <div class="row"><a href="@Url.Action("PaidServices","StaticPage")">Платные услуги</a></div>
                    </div>
                    <div class="column">
                        <div class="row"><a href="@Url.Action("Applicants","StaticPage")">Соискателям</a></div>
                        <div class="row"><a href="@Url.Action("Newcomers","StaticPage")">Советы новичкам</a></div>
                        <div class="row"><a href="@Url.Action("UsefulArticles","StaticPage")">Полезные статьи</a></div>
                    </div>
                    <div class="column">
                        <div class="row"><a href="@Url.Action("Help","StaticPage")">Помощь</a></div>
                        <div class="row"><a href="@Url.Action("Dictionary","StaticPage")">Промо-словарь</a></div>
                        <div class="row"><a href="#">Написать в службу поддержки</a></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="link"><p><a href="#">Сообщество ВКонтакте (с) @DateTime.UtcNow.Year -  @(DateTime.UtcNow.Year+1)</a></p></div>
            <div class="link"><p><a href="#">Контактная информация</a></p></div>
            <div class="logo">PromoPanda © 2013</div>
        </div>
	 @Html.Partial("RegisterForm")
    </body>
</html>