@model IEnumerable<PandaWebApp.ViewModels.Vacancy>

@{ var vdd = new ViewDataDictionary {{"Pager", ViewBag.Pager}}; }
@{ Html.RenderPartial("_PagerForm", vdd); }
@{ Html.RenderPartial("_PagerTop", vdd); }
<ul class="searchResult__blogList" id="employerSearchResult">
    @foreach (var item in Model)
    {
        <li>
            <div class="searchResult__blog">
                <div class="searchResult__blog__part1 left"><img src="~/Content/img/red-heart.png"></div>
                <div class="searchResult__blog__part2 left"><img src="@ImageCreator.Create(item.AvatarUrl, 113, 111)"></div>
                <div class="searchResult__blog__part3 left">
                    <div class="left">
                        <div class="position left">@item.Work</div><div class="lifetime left">на сайте @item.DaysOnSite дней</div>
                        <div class="clear"></div>
                        <ul>
                            <li class="bold">@item.About</li>
                            <li>@item.City</li>
                            <li>Временная работа с @item.Start.ToPandaString() по  @item.End.ToPandaString() @string.Format("({0} дней)", item.Days)</li>
                        </ul>
                    </div>
                </div>
                <div class="searchResult__blog__part4 left">
                    <div>
                        <div class="payment bold">@item.Salary руб/час</div>
                    </div>
                </div>
                @if (item.Checklist != null)
                {
                    @Html.ActionLink("Страница компании", "Detail", "Employer", new {id = item.Checklist.User.Id}, new {@class = "companyPage"})
                }
                <img class="searchResult__blog__bottomShadow right" src="~/Content/img/resultSearch__blog__bottomShadow.png" />
            </div>
            <div class="clear"></div>
        </li>
    }
</ul>
@{ Html.RenderPartial("_PagerBottom", vdd); }

<script type="text/javascript"> initPager($('body')); </script>
