@model PandaWebApp.FormModels.PromouterForm.WorkExperienceUnit

<div id ="@Model.Id">
    <div>Название компании @Html.EditorFor(x => x.Title) </div>    
    <div>Раота @Html.EditorFor(x => x.WorkName) </div>    
    <div>Начало @Html.EditorFor(x => x.StartTime) </div>    
    <div>Конец @Html.EditorFor(x => x.EndTime) </div>    
    <div>Часы @Html.EditorFor(x => x.Hours) </div> 
    <div>  
        @Ajax.ActionLink("Удалить", "Delete", "WorkExperience", new {workExperienceId = Model.Id},
            new AjaxOptions {UpdateTargetId = Model.Id.ToString()})     
    </div>
          
    <hr />
</div>