@model PandaWebApp.FormModels.PromouterForm.WorkExperienceUnit

<div id ="workExperience_@Model.Id">
    @Html.HiddenFor(x => x.CreationDate)
    <div>Название компании @Html.EditorFor(x => x.Title) </div>    
    <div>Работа @Html.EditorFor(x => x.WorkName) </div>    
    <div>Начало @Html.EditorFor(x => x.StartTime, "Date") </div>    
    <div>Конец @Html.EditorFor(x => x.EndTime, "Date") </div>    
    <div>Часы @Html.EditorFor(x => x.Hours) </div> 
    <div>  
        @Ajax.ActionLink("Удалить", "Delete", "WorkExperience", new {workExperienceId = Model.Id},
            new AjaxOptions {UpdateTargetId = "workExperience_" + Model.Id})     
    </div>
    <hr />
</div>