@model PandaWebApp.ViewModels.PandaPulse

<div class="pulse">
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.ajax({
                    url: "/Home/OnlineUsers",
                    success: function (data) {
                        var previousValue = $('#onlineUsers').data('previous-value');
                        if (data != previousValue) {
                            $('#onlineUsers').slideUp({
                                complete: function () {
                                    $(this).data('previous-value', data).html(data)
                                }
                            }).slideDown();
                        }
                    }
                });
            }, 3000);
        });
    </script>
	<div class="title">Панда пульс</div>
	    <ul>
		    <li class="temp"></li>
			<li class="header">
				<span class="left">ОНЛАЙН</span>
				<span class="right"><a id="onlineUsers" href="#" data-previous-value="@Model.Online">@Model.Online</a></span>
				<div class="clear"></div>
			</li>
                @{
                    var counter = 0;
                    foreach (var entry in Model.Items)
                    {
                        <li @(counter == 0 ? @"class=""first"" " : string.Empty)>
				            <span class="icon"><img src="@ImageCreator.Create(entry.Image, 24, 24)" /></span>
				            <span class="name">
                            @Html.ActionLink(entry.Name, "Detail", entry.User.ControllerNameByUser(), new { id = entry.User.Id }, new { })
                            </span>
			            </li>        
                    }
                }
	    </ul>
	<img src="/Content/img/pulse-bottom.png" />
</div>