@using PandaWebApp.FormModels
@model PandaWebApp.FormModels.Browsing

@{
    ViewBag.Title = "Статистика просмотров";
}

<div class="browsing__chartContainer">
    <p class="browsing__chartTitle">Статистика просмотра анкеты с @Model.Start.ToPandaString() по @Model.End.ToPandaString()</p>
    <div class="browsing__chart" id="chart"></div>
</div>
<ul class="browsing__list">
    @foreach (var item in Model.Values.Keys)
    {
        <li id="day_@item.ToPandaStringWithoutYear().Replace(".", "")" style="display:none;" class="browsing__listItem">
            <ul class="browsing_innerList">
                @item.ToPandaString()
                @foreach (var innerItem in Model.Values[item])
                {
                    <li class="browsing__innerListItem">
                        <a href="@Url.Action("Detail", innerItem.UserController, new { id = innerItem.UserId })">@innerItem.UserName</a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

<div class="left">
    @using(Html.BeginForm("Index", "Browsing", FormMethod.Post, new { id = "browsing_form_back" }))
    {
        <input type="hidden" name="End" id="End" value="@Model.Start" />
        <a href="javascript: $('#browsing_form_back').trigger('submit');">&lt;- Две недели назад</a>
    }
</div>

<div class="right">
    @if (Model.End.AddDays(1) <= DateTime.UtcNow)
    {
        using (Html.BeginForm("Index", "Browsing", FormMethod.Post, new {id = "browsing_form_forward"}))
        {
            <input type="hidden" name="Start" id="Start" value="@Model.End" />
            <a href="javascript: $('#browsing_form_forward').trigger('submit');">Две недели вперед -&gt;</a>
        }
    }
</div>
<div class="clear"></div>

<script type="text/javascript">
    var jsonData = @Html.Raw(Model.JsonValues);


    $(document).ready(function() {
        console.log(jsonData);

        $('#chart').tufteBar({
            data: jsonData,
            barWidth: 0.8,
            axisLabel: function(index) { return '<a href="javascript: open(\'' + this[1].label + '\')">' + this[1].label + '</a>' },
            color:     function(index) { return '#6AB200'; }
        });
    });
    
    function closeAll() {
        return $('.browsing__list>li').slideUp();
    }

    function open(arg) {
        $.when(closeAll()).done(function() {
            $('#day_' + arg.replace('.', '')).slideDown();
        });
    }
</script>