@model PandaWebApp.ViewModels.Feedback
<div class="feedbacks">
    <div class="header">Мнение о промоутере</div>
    <ul>
        @foreach (var entry in Model.Entries)
        {
            <li>
                <div class="table-2 feedback">
                    <div class="column">
                        <img src="@ImageCreator.Create(entry.UserPhoto, 128, 128)" />
                    </div>
                    <div class="column">
                        <div class="table-2">
                            <div class="column user-name">@entry.UserName</div>
                            <div class="column stars"><p class="right-aligned">@entry.SendDate.ToPandaString()</p></div>
                            <div class="clear"></div>
                        </div>
                        <p class="feedback-body">
                            @entry.Text
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        }
    </ul>
    <div class="more"><p>@Html.ActionLink("Больше мнений", "Index", "Feedback")</p></div>
</div>

