@model PandaWebApp.ViewModels.Feedback
<div class="feedbacks">
        @if (Model.User == null)
        {
            <div class="header">Отзывы(@Model.Count):</div>
        }
        else if (Model.User is PandaDataAccessLayer.Entities.EmployerUser)
        {
            <div class="header">Мнение о компании</div>
        }
        else
        {
            <div class="header">Мнение о промоутере</div>
        }
    <ul>
        @foreach (var entry in Model.Entries)
        {
            <li>
                <div class="table-2 feedback">
                    <div class="column">
                        <a href="@Url.Action("Detail", Model.User.ControllerNameByUser(), new { Model.User.Id })"><img src="@ImageCreator.Create(entry.AuthorPhoto, 128, 128)" /></a>
                    </div>
                    <div class="column">
                        <div class="table-2">
                            <div class="column user-name"><a href="@Url.Action("Detail", Model.User.ControllerNameByUser(), new { Model.User.Id })">@entry.AuthorName</a></div>
                            <div class="column stars"><p class="right-aligned">@entry.SendDate.ToPandaString()</p></div>
                            <div class="clear"></div>
                        </div>
                        <p class="feedback-body">
                            @entry.Text
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        }
    </ul>
    <div class="more"><p>@Html.ActionLink("Больше мнений", "Index", "Feedback")</p></div>
</div>

