@model PandaWebApp.ViewModels.Feedback

@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/Layout.cshtml";
    var core = AuthorizationCore.StaticCreate();
    var isAdmin = core.IsAdmin;  
}


<div class="user">
    <div class="feedbacks">
        @if (Model.User == null)
        {
            <div class="header">Отзывы: (@Model.Count):</div>
        }
        else if (Model.User is PandaDataAccessLayer.Entities.EmployerUser)
        {
            <div class="header">Мнение о компании (@Model.Count):</div>
        }
        else
        {
            <div class="header">Мнение о промоутере (@Model.Count):</div>
        }
        <div class="rating">
            <img class="commom_rating_value" src="/Content/img/red_star.png"><span class="rating_value">@Model.RedAverage</span>
            <img class="commom_rating_value" src="/Content/img/green_star.png"><span class="rating_value">@Model.GreenAverage</span>
            <img class="commom_rating_value" src="/Content/img/orange_star.png"><span class="rating_value">@Model.OrangeAverage</span>
        </div>
        <div class="clear"></div>
        
        <ul>
            @foreach (var entry in Model.Entries)
            {
                <div id="feedback_@entry.Id">
                    <li>
                        <div class="table-2 feedback">
                            <div class="column">
                                <a href="@Url.Action("Detail", entry.Author.ControllerNameByUser(), new { entry.Author.Id })"><img src="@ImageCreator.Create(entry.AuthorPhoto, 128, 128)" /></a>
                            </div>
                            <div class="column">
                                <div class="table-2">
                                    <div class="column user-name"><a href="@Url.Action("Detail", entry.Author.ControllerNameByUser(), new {entry.Author.Id })">@entry.AuthorName</a></div>
                                    <div class="column stars">
                                        <p class="right-aligned">
                                            <span>
                                                <span><img src="/Content/img/light_red_star.png">@entry.RedCount()</span>
                                                <span><img src="/Content/img/light_orange_star.png">@entry.OragneCount()</span>
                                                <span><img src="/Content/img/light_green_star.png">@entry.GreenCount()</span>
                                            </span>
                                            @entry.SendDate.ToPandaString()
                                        </p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <p class="feedback-body">
                                    @entry.Text
                                </p>
                                @if (isAdmin)
                                {
                                     @Html.ActionLink("Удалить", "Delete", new {entry.Id}, new {})
                                }
                            </div>
                            <div class="clear"></div>
                        </div>
                    </li>
             </div>
            }
        </ul>
    </div>
</div>


