@using PandaWebApp.Engine
@model Tuple<ICollection<PandaWebApp.ViewModels.Feedback.Entry>, int>

<div class="all-feedbacks">
    <div class="header">Отзывы <span class="count">(@Model.Item2)</span></div>
    <div class="feedbacks-content">
        <ul class="horiz">
            @{var index = 0;}
            @foreach (var feedback in Model.Item1)
            {
                <li class="@(index == Model.Item1.Count() - 1 ? "last" : "")">
                    <div class="left icon-container">
                        <div class="icon"><img src="@ImageCreator.Create(feedback.AuthorPhoto, 128, null)" /></div>
                        <div class="name">
                            <p>@feedback.AuthorName</p>
                        </div>
                    </div>
                    <div class="right enhanced-feedback-body">
                        <div class="mark"></div>
                        <p>
                            @feedback.Text.Trim(390)
                        </p>
                    </div>
                    <div class="clear"></div>
                </li>
                index++;
            }
        </ul>
    </div>
    <div class="clear"></div>
    <div class="link"><p class="right-aligned"><a href="@Url.Action("Index")">посмотреть все отзывы</a></p></div>
</div>

