@using PandaDataAccessLayer.DAL
@using PandaWebApp.Engine
@model PandaWebApp.ViewModels.Feedback
@{
    var core = AuthorizationCore.StaticCreate();
    var isAdmin = core.IsAdmin; 
}


@foreach (var entry in Model.Entries)
{
    <div id="feedback_@entry.Id">
        <li>
            <div class="table-2 feedback">
                <div class="column icon">
                    <a href="@Url.Action("Detail", entry.Author.ControllerNameByUser(), new {  entry.Author.Id })"><img src="@ImageCreator.Create(entry.AuthorPhoto, 170, 125)" /></a>
                </div>
                <div class="column">
                    <div class="table-2">
                        <div class="column user-name"><a href="@Url.Action("Detail", entry.Author.ControllerNameByUser(), new {  entry.Author.Id })">@entry.AuthorName</a></div>
                        <div class="column stars">
                            <p class="right-aligned">
                                <span>
                                    <span><img src="/Content/img/light_red_star.png">@entry.RedCount()</span>
                                    <span><img src="/Content/img/light_orange_star.png">@entry.OragneCount()</span>
                                    <span><img src="/Content/img/light_green_star.png">@entry.GreenCount()</span>
                                </span>
                                @entry.SendDate.ToPandaString()
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <p class="feedback-body">
                        @entry.Text
                    </p>
                    @if (isAdmin)
                    {
                            @Html.ActionLink("Удалить", "Delete", new {entry.Id}, new {})
                    }
                </div>
                <div class="clear"></div>
            </div>
        </li>
    </div>
}


