@model PandaWebApp.ViewModels.Feedback
@{
    var core = AuthorizationCore.StaticCreate();
    var isAdmin = core.IsAdmin; 
}
    <div class="feedbacks">
    
        <div class="header">
            @(@Model.User is PandaDataAccessLayer.Entities.EmployerUser ? "Отзывы о компании" : "Мнение о промоутере")
        </div>
        <div class="rating">
            <img class="commom_rating_value" src="/Content/img/red_star.png"><span class="rating_value">@Model.RedAverage</span>
            <img class="commom_rating_value" src="/Content/img/green_star.png"><span class="rating_value">@Model.GreenAverage</span>
            <img class="commom_rating_value" src="/Content/img/orange_star.png"><span class="rating_value">@Model.OrangeAverage</span>
        </div>
        <div class="clear"></div>
   
        <ul>
            @foreach (var entry in Model.Entries)
            {
                <li id="feedback_@entry.Id">
                    <div class="table-2 feedback">
                        <div class="column icon">
                            <a href="@Url.Action("Detail", Model.User.ControllerNameByUser(), new { Model.User.Id })"><img src="@ImageCreator.Create(entry.AuthorPhoto, 125, 170)" /></a>
                        </div>
                        <div class="column">
                            <div class="table-2">
                                <div class="column user-name"><a href="@Url.Action("Detail", Model.User.ControllerNameByUser(), new { Model.User.Id })">@entry.AuthorName</a></div>
                                <div class="column stars">
                                    <p class="right-aligned">
                                        <span>
                                            <span><img src="/Content/img/light_red_star.png">@entry.RedCount()</span>
                                            <span><img src="/Content/img/light_orange_star.png">@entry.OragneCount()</span>
                                            <span><img src="/Content/img/light_green_star.png">@entry.GreenCount()</span>
                                        </span>
                                        @entry.SendDate.ToPandaString()
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <p class="feedback-body">
                               @entry.Text
                            </p>
                        </div>
                        @if (isAdmin)
                        {
                            @Html.ActionLink("Удалить", "Delete", new {entry.Id}, new {})
                        }
                        <div class="clear"></div>
                    </div>
                </li>
                
            }
        </ul>
        <div class="more"><p>@Html.ActionLink("Больше мнений", "IndexById", "Feedback", new { userId = Model.User.Id }, null)</p></div>
    </div>


