@using PandaDataAccessLayer.DAL
@model PandaWebApp.FormModels.CompanyRegister
@{
    var companySubTypeValues = (IEnumerable<SelectListItem>)ViewBag.CompanySubTypeValues;
    var cityValues = (IEnumerable<SelectListItem>) ViewBag.CityValues;
}

@using (Ajax.BeginForm("CreateCompany", "Employer", new AjaxOptions
    {
        UpdateTargetId = "company",
        HttpMethod = "POST",
        OnComplete = "onEmployerValidation"
    }))
{
    <h3>Информация о компании</h3>
    <hr/>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.EmployerName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.EmployerName)
            <div class="editor-company-type">
                @Html.RadioButtonFor(x => x.CompanyType, Constants.DirectEmployer, new { @checked = "checked" })<label>@Constants.DirectEmployer</label>
                @Html.RadioButtonFor(x => x.CompanyType, Constants.RecroutingCompany) <label>@Constants.RecroutingCompany</label>
            </div>
            @Html.ValidationMessageFor(x => x.EmployerName)
        </div>
    </div>
    <div class="editor">
        <div id="companySubTypePlace">
            <div class="editor-label">
                @Html.LabelFor(x =>x.CompanySubType)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(x => x.CompanySubType, companySubTypeValues, string.Empty)
                @Html.ValidationMessageFor(x => x.CompanySubType)
            </div>
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.City)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x => x.City, cityValues, string.Empty)
            @Html.ValidationMessageFor(x => x.City)
        </div>
    </div>

    <h3>Информация о себе (будет доступна только администратору сайта)</h3>
    <hr/>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.LastName)
            @Html.ValidationMessageFor(x => x.LastName)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.JobTitle)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.JobTitle)
            @Html.ValidationMessageFor(x => x.JobTitle)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Phone, "Phone")
            @Html.ValidationMessageFor(x => x.Phone)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>
    <div class="editor">
        <div class="editor-label">
            @Html.LabelFor(x =>x.PasswordConfirmation)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.PasswordConfirmation)
            @Html.ValidationMessageFor(x => x.PasswordConfirmation)
        </div>
    </div>
    @Html.HiddenFor(x => x.EmployerType)
    <hr/>
    <div class="editor">
        <div class="editor-label">
        </div>
        <div class="editor-field">
            <button type="submit" class="center-aligned">Зарегестрироваться</button>
        </div>
    </div>
}