@using PandaDataAccessLayer.DAL
@using PandaWebApp.ViewModels
@model Tuple<PandaWebApp.ViewModels.Employer, List<string>>
@{
    var core = AuthorizationCore.StaticCreate();
    var isGuest = core.IsGuest;
    var user = core.User;
    var isAdmin = core.IsAdmin;
}   

<a href="javascript:addToFavorite('@Model.Item1.UserId')">Добавить в избранное</a>			
<div class="user">
    <div class="header">
        <div class="left">
            <span class="user-gender-icon"><img src="~/Content/img/company.png" /></span>
            <span class="user-name">@Model.Item1.EmployerName</span>
            @if (isAdmin)
            {
                <span class="user-number">#@Model.Item1.Number</span>
            }
        </div>
        <div class="right user-status">
            <img src="@(Model.Item1.Status == "Онлайн" ? "/Content/img/online.png" : "/Content/img/offline.png")" />
            <span>@Model.Item1.Status</span>
        </div>
        <div class="clear"></div>
    </div>					
    <div class="photo left">
        <a href="@ImageCreator.Create(Model.Item1.Photo, 350 ,350)" data-lightbox="one_photo"><img src="@ImageCreator.Create(Model.Item1.Photo, 128, 128)"/></a>
    </div>

    <div class="info right">
        <div class="table-2">
            <div class="column">
                <div class="row on-site">На сайте <span class="days">@Model.Item1.DaysOnSite</span></div>
                <div class="row">Город</div>
                <div class="row">Адрес офиса</div> 
                <div class="row"><img src="~/Content/img/phone.png" />Телефон</div>
                <div class="row"><img src="~/Content/img/mail.png" />e-mail</div>
                 @if ((!isGuest && Equals(user.Id, Model.Item1.UserId)) || isAdmin)
                 {
                     <div class="row">Количество монеток: @user.Coins</div>
                 }
            </div>

            <div class="column">
                @if (Model.Item1.AccountConfirmed)
                {
                    <div class="row confirmed-true"><p class="right-aligned">Аккаунт подтвержден</p></div>
                }
                else
                {
                    <div class="row confirmed-false"><p class="right-aligned">Аккаунт не подтвержден</p></div>
                }
                <div class="row">@Model.Item1.City</div>
                <div class="row">@Model.Item1.Address</div>
                
                @if (!isGuest || isAdmin)
                {
                    string fullphone = string.Format("{0} {1} {2}", Model.Item1.Phone.CountryCode, Model.Item1.Phone.Code, Model.Item1.Phone.Number);

                    if (Equals(user.Id, Model.Item1.UserId) || isAdmin)
                    {
                        <div class="row">@fullphone</div>
                        <div class="row">@Model.Item1.Email</div>
                    }
                    else
                    {
                        if (Model.Item2.Contains(Constants.MobilePhoneCode))
                        {
                            <div class="row">@fullphone</div>
                        }
                        else
                        {
                            <div class="row" id ="MOBILE_PHONE">
                                @Ajax.ActionLink("открыть", "ChangeCoins", "Admin",
                                                 new {buyerId = user.Id, userId = Model.Item1.UserId, attrCode = Constants.MobilePhoneCode, value = fullphone},
                                                 new AjaxOptions()
                                                     {
                                                         HttpMethod = "POST",
                                                         UpdateTargetId = Constants.MobilePhoneCode
                                                     }, new {@class = "open"})
                            </div>
                        }
                        if (Model.Item2.Contains(Constants.EmailCode))
                        {
                            <div class="row">@Model.Item1.Email</div>
                        }
                        else
                        {
                            <div class="row" id ="EMAIL_CODE">
                                @Ajax.ActionLink("открыть", "ChangeCoins", "Admin",
                                                 new {buyerId = user.Id, userId = Model.Item1.UserId, attrCode = Constants.EmailCode, value = Model.Item1.Email},
                                                 new AjaxOptions()
                                                     {
                                                         HttpMethod = "POST",
                                                         UpdateTargetId = Constants.EmailCode
                                                     }, new {@class = "open"})
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="row"><a href="#" class="open">открыть</a></div>
                    <div class="row"><a href="#" class="open">открыть</a></div>
                }

                @if (!isGuest && (Equals(user.Id, Model.Item1.UserId) || isAdmin))
                {
                    if (isAdmin)
                    {
                        <div class="row"><a href="@Url.Action("EditUserCoins", "Admin", new {userId = Model.Item1.UserId})" >редактировать</a></div>
                    }
                    <div class="row">@Html.ActionLink("редактировать страницу", "Edit", "Employer", new {id = Model.Item1.UserId}, new {})</div>
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
         
    <div class="clear"></div>
        
    <div class="about">
        <div class="header">О компании:</div>
        <div class="things">
            @if (string.IsNullOrEmpty(Model.Item1.About))
            {
                <p class="nothing">Пользователь еще не написал о себе, вы можете <a href="#">попросить его</a> рассказать о себе подробнее</p>
            }
            else
            {
                <p class="nothing">@Html.Raw(Model.Item1.About)</p>
            }
        </div>
    </div>
    <div class="clear"></div>
    

    <div class="photo-album clear">
        @using (Ajax.BeginForm("Album2", "Album", new { userId = Model.Item1.UserId }, new AjaxOptions()
        {
            UpdateTargetId = "photos",
            InsertionMode = InsertionMode.InsertAfter,
            OnSuccess = "OnSuccessAlbumLoad"
        },
        new { id = "albumForm" }
        
        ))
        {
            <input type="hidden" name="photosFrom" id="photosFrom" value="@(WebConstants.PhotoPerRow*2)" />
            <div class="header">Фотоотчеты</div>
            <div class="album">
                <ul id="photos"class="horiz">
                    @{ Html.RenderAction("Album2", "Album", new {userId = Model.Item1.UserId}); }
                </ul>
            </div>
            <div class="clear"></div>
            <script>
                function OnSuccessAlbumLoad() {
                    var val = parseInt($('#photosFrom').val());
                    $('#photosFrom').val(val + @WebConstants.PhotoPerRow);
                }
                $(function() {
                    $('#morePhotosButton').click(function(e) {
                        e.preventDefault();
                        $('#albumForm').submit();
                        //$('#albumForm').submit();
                    });
                })
            </script>
            <div class="more"><p><a id="morePhotosButton" href="#">Просмотреть все фотоотчеты</a></p></div>
        }

    </div>

    <div class="vacancies clear">
        <div class="header">Открытые вакансии</div>
        <div class="searchResult">
            <div class="searchResult__body">
                <div class="clear"></div>
                @Html.Partial("Vacancies", Model.Item1.Vacancies)  
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    @{ Html.RenderAction("TopUserFeedback", "Feedback", new { userId = Model.Item1.UserId }); }
    

    @{
        if (!isGuest && user.Id != Model.Item1.UserId)
        {
            Html.RenderAction("Create", "Feedback", new { authorId = user.Id, recieverId = Model.Item1.UserId });
        }
    }
    
    <div class="promouter-top">
        <div class="header">
            Другие компании
        </div>
        @{ Html.RenderAction("TopEmployers", "Employer", new { count = 6 }); }
    </div>
</div>