@model PandaWebApp.ViewModels.Employer
@{
    ViewBag.Title = "Информация о компании";
}
@{
    var core = AuthorizationCore.StaticCreate();
    var isGuest = core.IsGuest;
    var user = core.User;
    var username = core.UserName;
    var city = core.City;
}   

<div class="user">
    <div class="header">
        <div class="left">
            <span class="user-gender-icon"><img src="~/Content/img/company.png" /></span>
            <span class="user-name">@Model.EmployerName</span>
            <span class="user-number">#@Model.Number</span>
        </div>
        <div class="right user-status">
            <img src="@(Model.Status == "Онлайн" ? "/Content/img/online.png" : "/Content/img/offline.png")" />
            <span>@Model.Status</span>
        </div>
        <div class="clear"></div>
    </div>					
    <div class="photo left">
        <img src="@ImageCreator.Create(Model.Photo, 128, 128)" />
    </div>

    <div class="info right">
        <div class="table-2">
            <div class="column">
                <div class="row on-site">На сайте <span class="days">@Model.DaysOnSite</span></div>
                <div class="row">Город</div>
                <div class="row">Адрес офиса</div> 
                <div class="row"><img src="~/Content/img/phone.png" />Телефон</div>
                <div class="row"><img src="~/Content/img/mail.png" />e-mail</div>
                 @if (!isGuest && user.Id == Model.UserId)
                 {
                     <div class="row">Количество монеток: @user.Coins</div>
                 }
            </div>

            <div class="column">
                @if (Model.AccountConfirmed)
                {
                    <div class="row confirmed-true"><p class="right-aligned">Аккаунт подтвержден</p></div>
                }
                else
                {
                    <div class="row confirmed-false"><p class="right-aligned">Аккаунт не подтвержден</p></div>
                }
                <div class="row">@Model.City</div>
                <div class="row">@Model.Address</div>
                
                @if (!isGuest)
                {
                    if (Equals(user.Id, Model.UserId))
                    {
                        <div class="row">@Model.MobilePhone</div>
                        <div class="row">@Model.Email</div>
                    }
                    else
                    {
                        <div class="row" id ="MOBILE_PHONE">
                            @Ajax.ActionLink("открыть", "ChangeCoins", "Admin",
                                             new {buyerId = user.Id, userId = Model.UserId, attrCode = "MOBILE_PHONE", value = Model.MobilePhone},
                                             new AjaxOptions()
                                                 {
                                                     HttpMethod = "POST",
                                                     UpdateTargetId = "MOBILE_PHONE"
                                                 }, new {@class = "open"})
                        </div>

                        <div class="row" id ="EMAIL_CODE">
                            @Ajax.ActionLink("открыть", "ChangeCoins", "Admin",
                                             new {buyerId = user.Id, userId = Model.UserId, attrCode = "EMAIL_CODE", value = Model.Email},
                                             new AjaxOptions()
                                                 {
                                                     HttpMethod = "POST",
                                                     UpdateTargetId = "EMAIL_CODE"
                                                 }, new {@class = "open"})
                        </div>
                    }
                }
                else
                {
                    <div class="row"><a href="#" class="open">открыть</a></div>
                    <div class="row"><a href="#" class="open">открыть</a></div>
                }

                @if (!isGuest && Equals(user.Id, Model.UserId))
                {
                    <div class="row"><a href="@Url.Action("EditUserCoins", "Admin", new {userId = Model.UserId})" >редактировать</a></div>
                    <div class="row">@Html.ActionLink("редактировать страницу", "Edit", "Employer", new {id = Model.UserId}, new {})</div>
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
         
    <div class="clear"></div>
        
    <div class="about">
        <div class="header">О компании:</div>
        <div class="things">
            @if (string.IsNullOrEmpty(Model.About))
            {
                <p class="nothing">Пользователь еще не написал о себе, вы можете <a href="#">попросить его</a> рассказать о себе подробнее</p>
            }
            else
            {
                <p class="nothing">@Html.Raw(Model.About)</p>
            }
        </div>
    </div>
    <div class="clear"></div>

    <div class="photo-album clear">
        <div class="header">Фотоотчеты</div>
        <div class="album">
            <ul class="horiz">
                @{
                    var index = 0;
                    int topCount = 10;
                    foreach (var item in Model.Album)
                    {
                        if (topCount.Equals(0))
                        {
                            break;
                        }
                                
                        <li class="@(index == 0 ? "first" : "")">
                            <img src="@ImageCreator.Create(item, 128, 128)" />
                        </li>

                        if (index == 4)
                        {
                            index = 0;
                        }
                        else
                        {
                            index++;
                        }
                        topCount--;
                    }
                }
            </ul>
        </div>
        <div class="clear"></div>
        <div class="more"><p>@Html.ActionLink("Просмотреть все фотоотчеты","Album","Album",new {userId = Model.UserId},null)</p></div>
    </div>
        
    <div class="header">Открытые вакансии</div>
    @{
        foreach (var vacancy in Model.Vacancies)
        {
            <div>Наименование работы: @vacancy.JobTitle</div>
            <div>Описание работы: @vacancy.FullDescription</div>
            <div>С: @vacancy.StartTime</div>
            <div>До: @vacancy.EndTime</div>
            <div>Цена за час: @vacancy.Salary</div>
            <div>На сайте: @vacancy.DaysOnSite</div>
            <div>Город: @vacancy.City</div>
        }
    }
    <div class="clear"></div>



    @{ Html.RenderAction("TopUserFeedback", "Feedback", new {userId = Model.UserId}); }
    
      @{ Html.RenderAction("Create", "Feedback", new {authorId = Model.UserId, recieverId = Model.UserId,}); }
    
    <div class="promouter-top">
        <div class="header">
            Другие компании
        </div>
        @{ Html.RenderAction("TopEmployers", "Employer", new { count = 6 }); }
    </div>
</div>