@model PandaWebApp.FormModels.EmployerForm
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Edit</h2>
<script>
    $(function () {
        $('#editEmployerTabs').tabs();
    });
</script> 
<div id="editEmployerTabs">
    <ul>
        <li><a href="#mainTab">Основное</a></li>
        <li><a href="#photoTab">Фото</a></li>
        <li><a href="#aboutTab">О компании</a></li>
    </ul>
    <div id="mainTab">
        <div>Город</div> @Html.EditorFor(m => m.City)
        <div>Мед книжка</div> @Html.EditorFor(m => m.Address)
        <div>Телефон</div> @Html.EditorFor(m => m.MobilePhone)
        <div>Email</div> @Html.EditorFor(m => m.Email)
    </div>
    <div id="photoTab">
        <input type="file" id ="#fileupload"/>
    </div>

    <div id="aboutTab">
        <div>О компании</div> 
        @Html.TextAreaFor(m => m.About, new Dictionary<string, object>()
        {
            {"class", "ckeditor"}, {"name", "editor1"}
        })
    </div>
    
</div>
   