@model PandaWebApp.FormModels.AlbumUnit

@{
    var photoWidth = WebConstants.PhotoHeight;
    var photoHeight = WebConstants.PhotoWidth;
    var PhotosPerRow = WebConstants.PhotoPerRow;
}

<script>
    function setAvatatar(div) {
        div.addClass('avatar rounded-borders-4');
        $('.close', div).show();
        $('.make-avatar', div).hide();
        $('.main-photo', div).show();
    }

    function OnSetAvatarSuccess(data) {
        setAvatatar($('#photo_' + data.id));
    }

    function AjaxBegin() {
        $('#photo-list').hide();
        $('#album-loading').show();

    }
    function AjaxComplete() {
        $('#photo-list').show();
        $("#album-loading").hide();
    }
</script>
<div class="photo-album"  id="album_@Model.Id">
    <div class="album">
        <div id="album-loading" class="hide center-aligned">
            <img alt="Loading..." src="~/Content/img/loader.GIF"/>
        </div>
        <ul id="photo-list" class="horiz">
            @{
                var index = 0;
                foreach (var item in Model.Photos)
                {
                    <li class="@(index == 0 ? "first" : "")">
                        
                    <div id="photo_@item.Id">
                        <div class="image">
                                    <img class="rounded-borders-4" src="@ImageCreator.Create(item.SourceUrl, photoWidth, photoHeight)" alt="@item.Album" title="@item.Title" />
                                        <h2 class="close">
                                            <span class=" wrap-inner">
                                                @Ajax.ImageActionLink("/Content/img/close.png", "Delete", "Album", new {photoId = item.Id}, 
                                                new AjaxOptions 
                                                { 
                                                    UpdateTargetId = "album_" + @Model.Id, 
                                                    OnBegin = "AjaxBegin",
                                                    OnComplete = "AjaxComplete",
                                                })
                                            </span>
                                        </h2>
                                        <h2 class="make-avatar rounded-borders-2">
                                            <span class="wrap-inner">
                                                @Ajax.ActionLink("Сделать главным", "UpdateAvatar", "Album", new {id = item.Id}, 
                                                new AjaxOptions 
                                                { 
                                                    OnBegin = "AjaxBegin",
                                                    OnComplete = "AjaxComplete",
                                                    OnSuccess = "OnSetAvatarSuccess", 
                                                    UpdateTargetId = "album_" + Model.Id
                                                })
                                            </span>
                                        </h2>
                                </div>
                                <div class="clear"></div>
                        <p class="main-photo hide">главное фото</p>
                    </div>
                        
                        @if (item == Model.Avatar)
                        {
                            <script>
                                 $(function () {
                                    setAvatatar($("#photo_" + "@(item.Id)"));
                                 });
                            </script>
                        }
                    

                        @if (index == PhotosPerRow)
                        {
                            index = 0;
                        }
                        else
                        {
                            index++;
                        }
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div class="clear">
</div>