@model PandaWebApp.FormModels.AlbumUnit

@{
    const int PhotosPerRow = 4;
    const int PhotoHeight = 120;
    const int PhotoWidth = 150;
}
<div class="photo-album clear"  id="album_@Model.Id">
    <div class="album">
        <ul class="horiz">
            @{
                var index = 0;
                foreach (var item in Model.Photos)
                {
                    <li class="@(index == 0 ? "first" : "")">
                        <img src="@ImageCreator.Create(item.SourceUrl, PhotoHeight, PhotoWidth)" />
                        <br/>
                        @Ajax.ActionLink("Удалить", "Delete", "Album", new { photoId = item.Id }, new AjaxOptions{ UpdateTargetId = "album_"+@Model.Id })
                        <br/>
                        @Html.ActionLink("Редактировать", "Edit", "Photo", new { id = item.Id }, new { })
                         <br/>
                        @Ajax.ActionLink("Сделать аватаром", "Avatar", "Photo", new { id = item.Id }, new AjaxOptions{ })
                    </li>

                    if (index == PhotosPerRow)
                    {
                        index = 0;
                    }
                    else
                    {
                        index++;
                    }
                }
            }
        </ul>
    </div>
</div>
<div class="clear">
</div>